.git
.github
node_modules
vendor
cloudflared.exe
*.log
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
.env
.env.*
.aider*
.claude*
.hypothesis*
.pytest_cache*
.vscode*
*.txt
*.csv
imgs/
scrap/
